#content p {
    font-size: 18px;
    font-family: 'Raleway', sans-serif;
    line-height: 1.6; /* Adjust the line height for better readability */
    letter-spacing: 0.05em; /* Add a small letter spacing for a subtle effect */
    margin-bottom: 20px; /* Add some margin to create space between elements */
    color:white;
}

