.footer-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo-placeholder img {
    width: 100px;
    height: 100px;
    border-radius: 50%; /*  Adds a circular border to the logo */
    margin-bottom: auto;
}

.footer-content {
    display: flex;
    flex-direction: column;
}

.footer-copyright p {
    margin: 0; /* Remove default margin */
}

.contact-info p {
    margin: 5px 0; /* Add some spacing between contact info */
}

.feedback-form {
    margin-top: 10px;
}

.feedback-form label,
.feedback-form textarea,
.feedback-form button {
    margin-bottom: 10px;
}

.feedback-form textarea {
    height: 100px;
    padding: 10px;
    resize: none; /* Disable textarea resizing */
    border: 1px solid #ccc; /* Add a border to the textarea */
    border-radius: 5px; /* Optional: Add rounded corners */
    font-family: 'Arial', sans-serif; /* Choose a suitable font */
}

.feedback-form button {
    background-color: red;
    color: white;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
}

.feedback-form button:hover {
    background-color: darkred; /* Change color on hover */
}